@using Domain.Entities
@model IEnumerable<Family>

@{
    ViewBag.Title = "Admin Families";
    ViewBag.TabId = "admin-families";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-sm-11">
        @foreach (var family in Model)
        {
            <div>
                <a href="/admin/family/@family.FamilyId" class="text-decoration-none text-black">
                    @family.Surname - @family.Generation</a>
            </div>
        }
    </div>
    <div class="col-sm-1">
        <a href="/Admin/Family/0" class="btn btn-success">Create</a>
    </div>
</div>
