@model Domain.Entities.Goal

@{
    ViewBag.Title = "Admin : Edit goal";
    ViewBag.TabId = "admin-goals";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel">
    <div class="panel-heading">
        <h3>Edit goal @Model.Title</h3>
    </div>

    @using (Html.BeginForm())
    {
        <div class="panel-body">
            <div class="form-group">
                @Html.HiddenFor(m => m.GoalId)

                <label>Title :</label>
                @Html.TextBox("Title", Model.Title, new { @class = "form-control" })

                <label>Is Child :</label>
                @Html.CheckBox("IsChild")

            </div>
        </div>

        <div class="panel-footer">
            <input type="submit" value="Save" class="btn btn-primary"/>
        </div>
    }
</div>
