@using Domain.Entities
@model IEnumerable<Goal>

@{
    ViewBag.Title = "Admin Goals";
    ViewBag.TabId = "admin-goals";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-sm-11">
        @foreach (var goal in Model.OrderBy(g => g.Title))
        {
            <div>
                <a href="/admin/goal/@goal.GoalId" class="text-decoration-none text-black">
                    @goal.Title
                </a>
            </div>
        }
    </div>
    <div class="col-sm-1">
        <a href="/Admin/Goal/0" class="btn btn-success">Create</a>
    </div>
</div>