@using Domain.Entities
@model IEnumerable<InheritanceLaw>

@{
    ViewBag.Title = "Admin Inheritance Laws";
    ViewBag.TabId = "admin-laws";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-sm-11">
        @foreach (var law in Model.OrderBy(l => l.Category).ThenBy(l => l.Title))
        {
            <div>
                <a href="/admin/InheritanceLaw/@law.InheritanceId" class="text-decoration-none text-black">
                    @law.Category.ToString() - @law.Title
                </a>
            </div>
        }
    </div>
    <div class="col-sm-1">
        <a href="/Admin/InheritanceLaw/0" class="btn btn-success">Create</a>
    </div>
</div>