@using Domain.Entities
@model IEnumerable<Preference>

@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel panel-default">
    <div class="row">
        <div class="col-sm-8">
            @foreach (var preference in Model.OrderBy(p => p.Title))
            {
                <div>
                    <a href="/admin/preference/@preference.PreferenceId">
                        <h3>@preference.Title</h3>
                    </a>
                </div>
            }
        </div>
        <div class="col-sm-4">
            <a href="/Admin/preference/0" class="btn btn-success">Create</a>
        </div>
    </div>
</div>