@using Domain.Entities
@model IEnumerable<User>

@{
    ViewBag.Title = "Admin Users";
    ViewBag.TabId = "admin-users";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-sm-11">
        @foreach (var user in Model)
        {
            <div>
                <a href="/Admin/User/@user.UserId" class="text-decoration-none text-black">
                    @user.Username
                </a>
            </div>
        }
    </div>
    <div class="col-sm-1">
        <a href="/Admin/User/0" class="btn btn-success">Create</a>
    </div>
</div>
