@using Domain.Entities
@model IEnumerable<User>

@{
    ViewBag.Title = "Admin Users";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel panel-default">
    <div class="row">
        <div class="col-sm-8">
            @foreach (var user in Model)
            {
                <div>
                    <a href="/Admin/User/@user.UserId">
                        <h3>@user.Login</h3>
                    </a>
                </div>
            }
        </div>
        <div class="col-sm-4">
            <a href="/Admin/User/0" class="btn btn-success">Create</a>
        </div>
    </div>
</div>
