@using Domain.Entities
@using WebUI.Models;
@model FamiliesViewModel

@{
    ViewBag.Title = "Families";
}

<div class="row justify-content-md-center mt-3">
    <div class="col col-auto">
        <a href="/Family/Create/" class="btn btn-light">Create new family</a>
    </div>
</div>

<div class="row p-3">
    @foreach (var family in Model.Families)
    {
        <div class="col-sm-3 p-2">
            <div class="p-3 border rounded bg-white">
                <a class="text-reset text-decoration-none" href="/Family/@family.FamilyId">
                    <div class="row">
                        <div class="col-sm-7">
                            <h3>@family.Surname</h3>
                        </div>
                        <div class="col-sm-5">
                            <h3 class="text-end">Gen @family.Generation</h3>
                        </div>
                    </div>
                </a>
                @foreach (var lawValue in new int[] {family.Inheritance1, family.Inheritance2, family.Inheritance3, family.Inheritance4})
                    @foreach (var law in Model.InheritanceLaws)
                    {
                        if (lawValue == law.InheritanceId)
                        {
                            <div class="row">
                                <div class="col-sm-5">
                                    <p class="m-0">@(((InheritanceCategory)law.Category).ToString()) law:</p>
                                </div>
                                <div class="col-sm-7">
                                    <p class="m-0">@law.Title</p>
                                </div>
                            </div>
                        }
                    }
                <div class="row justify-content-md-center mt-3">
                    <div class="col col-auto">
                        <a href="/Family/@family.FamilyId" class="btn btn-light">View</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>