.btn {
    border: 1px solid black;
}

.hidden {
    display: none;
    visibility: hidden;
}

body {
    background-image: url("/Images/background/plumbobs.jpg");
}

.navbar-nav > li > .dropdown-menu {
    background-color: #343a40;
}

.navbar-nav > li > .dropdown-menu a {
    color: #f7f7f7;
}

.navbar-nav > li > .dropdown-menu a:hover {
    color: black;
}

.sidebar {
    min-height: 100vh;
    width: 280px;
}

.sidebar .nav-link {
    color: lightgray;
}

.admin-layout {
    margin-left: 280px;
    background: white;
}

.nav-pills .nav-link.active {
    background-color: white;
    color: black;
}

.navbar-nav .nav-link.active  {
    color: white;
}

.loginBtn {
    margin-left: 10px;
}