@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@model bool

@{
    ViewBag.Title = @Localizer["ConfirmationHeader"];
}

<div class="m-3">
    @if (Model)
    {
        <div class="text-success">@Localizer["Success"]</div>
    }
    else
    {
        <div class="text-danger">@Localizer["Fail"]</div>
    }
</div>
