@model MjauriziaSims.Models.ResetPassModel

@{
    ViewBag.Title = "Password recovery";
}

<div class="m-3">
    <h3>Password recovery</h3>
    
    @if (Model.UserId == 0)
    {
        <div id="errMsg" class="form-text text-danger">Your link is wrong. Please, try to reset password again.</div>
    }
    else
    {
        @using (Html.BeginForm("ResetPassword", "Account", new { }, (FormMethod)1, false, new { id = "resetPassForm" }))
        {
            @Html.Hidden("UserId", Model.UserId);
            @Html.Hidden("ConfirmationToken", Model.UserId);

            <div id="successMsg" class="form-text hidden text-success">Password changed successfully</div>
            <div id="errMsg" class="form-text hidden text-danger"></div>

            <div class="row" id="newPassword">
                <div class="col-sm-6">
                    <div class="p-1">Password :</div>
                    @Html.Password("Password", null, new { @class = "form-control" , id="password"})
                    <div id="passwordHelp" class="form-text hidden text-danger">Please, fill password field</div>
                    <div id="passwordConformationHelp" class="form-text hidden text-danger">Passwords do not match</div>
                </div>
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <div class="p-1">Confirm password :</div>
                    @Html.Password("ConfirmPassword", null, new { @class = "form-control" , id="confirmPassword"})
                </div>
                <div class="col-sm-6">
                </div>

                <div class="row mt-3">
                    <div class="col col-auto">
                        <input type="submit" value="Save" class="btn btn-light" id="resetPassBtn" />
                    </div>
                </div>
            </div>
        }
    }
    
</div>
