@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
        <link href="~/Content/Site.css" rel="stylesheet" />
        <script src="~/Scripts/jquery-2.2.0.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <title></title>
    </head>
    <body>
        <div>
            <div class="row panel" style="margin:0">
                <div class="col-sm-2">
                    <a href="/admin/families/"><h3>Families</h3></a>
                    <a href="/admin/characters/"><h3>Characters</h3></a>
                    <a href="/admin/goals/"><h3>Goals</h3></a>
                    <a href="/admin/preferences/"><h3>Preferences</h3></a>
                </div>
                <div class="col-sm-8">
                    @RenderBody()
                </div>
                <div class="col-sm-2">
                </div>
            </div>
        </div>
    </body>
</html>
