<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <script src="/js/jquery-2.2.0.min.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top ">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Sims Randomizer</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/Randomizer/Goal">Aspiration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Randomizer/Career">Career</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Randomizer/PreferenceColor/">Preferences</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Family/Index">Families</a>
                    </li>
                </ul>
            </div>
            <a href="/" class="nav-link text-light">
                <i class="bi-door-open"></i>
                Log in
            </a>


                <div id="g_id_onload"
                     data-client_id="589496246267-3c6k5j1flaev2mrruei0ftq7bkihrno5.apps.googleusercontent.com"
                     data-login_uri="https://localhost:7029/"
                     data-auto_prompt="false">
                </div>
                <div class="g_id_signin"
                     data-type="standard"
                     data-size="large"
                     data-theme="outline"
                     data-text="sign_in_with"
                     data-shape="rectangular"
                     data-logo_alignment="left">
                </div>

        </div>
    </nav>

    <div class="row mt-5">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10 bg-light mt-2" style="min-height: 92vh;">
            @RenderBody()
        </div>
        <div class="col-sm-1">
        </div>
    </div>
</body>
</html>